<div class="container-fluid bg-dark text-white py-4, margin: 0 auto">
    <div class="row">
      <div class="col-md-4">
        <h5>AMPEREZ</h5>
        <p>El mejor equipo de computo para uso personal</p>
      </div>
      <div class="col-md-4">
        <h5>ENLACES RAPIDOS</h5>
        <ul>
          <li>Inicio</li>
          <li>Products</li>
          <li>Nosotros</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>CONTACTANOS</h5>
        <ul>
          <li>contacto&#64;amperez.com</li>
          <li>+52 123 456 7890</li>
          <li>Ciudad de Mexico, Mexico</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="derechos">
    <p style="text-align: center;">Todos los derechos reservados &copy; 2021</p>
  </div>