.custom-dropdown-menu {
    background-color: black;
    color: white;
  }
  
  .custom-dropdown-menu .dropdown-item {
    color: white;
  }
  
  .custom-dropdown-menu .dropdown-item:hover {
    background-color: #333;
    color: white;
  }
  
  /* Estilos para la offcanvas */
  .offcanvas-body {
    background-color: black;
    color: white;
  }
  
  .offcanvas-header {
    background-color: black;
    color: white;
  }