.list .card {
  display: block;
  width: 90%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
  margin: 1%;
  box-sizing: border-box;
  
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}